POSTGRES_USER=
KEYCLOAK_ADMIN_USERNAME=
KEYCLOAK_ADMIN_PASSWORD=
KEYCLOAK_ADMIN_CLIENT_SECRET=
KEYCLOAK_DB_NAME=
KEYCLOAK_DB_URL=
KEYCLOAK_DB_USERNAME=
KEYCLOAK_DB_PASSWORD=


TEMPLATES_DIR=../templates
WORKSPACE_DIR=../workspace

GITHUB_TOKEN=
GITHUB_OWNER=
GITHUB_IS_ORG=


KEYCLOAK_SERVER_URL=http://localhost:8180
PROVISIONER_URL=http://localhost:8081



DEVFORGE_ADMIN_USERNAME=
DEVFORGE_ADMIN_EMAIL=
DEVFORGE_ADMIN_PASSWORD=
DEVFORGE_ADMIN_FIRST_NAME=
DEVFORGE_ADMIN_LAST_NAME=